{% extends "base.html" %}

    {% block content %}
        <div class="main">

            <h1>{{title}}</h1>

        </div>

        <div class="cars row">

        </div>

        <script>
            async function fetchCars() {
                const response = await fetch('/api/cars');
                const cars = await response.json();
                const carsContainer = document.querySelector('.cars');
                carsContainer.innerHTML = '';

                cars.forEach(car => {
                    const carElement = document.createElement('div');
                    carElement.className = 'card';
                    carElement.style = 'width: 18rem;';
                    carElement.innerHTML = `<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdkFeXoT4-TmiS70ZjX2Nd0PtpywmnZoxfnnPWXtTdtFyIEuG-zFuq0Dg&s" class="card-img-top" alt="${car.name}">`;
                    carElement.innerHTML += `<div class="card-body">
                                        <h5 class="card-title">${car.name}</h5>
                                        <p class="card-text">Color: ${car.color}</p>
                                        <p class="card-text">Id: ${car.id}</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>`;
                    carsContainer.appendChild(carElement);
                });
            }

            document.addEventListener('DOMContentLoaded', fetchCars);
        </script>
    {% endblock %}

